* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}

main {
  padding: 50px;
}

p {
  margin: 20px;
}

.burger_btn {
  width: 20px;
  height: 30px;
  margin-left: 20px;
  position: relative;
}

.burger_btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  background-color: black;
  height: 2px;
}

.burger_btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20px;
  background-color: black;
  height: 2px;
}
